# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Production
out/
build/
dist/
.next/

# Misc
.DS_Store
*.pem
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Go
backend/vendor/
*.exe
*.exe~
*.dll
*.so
*.so.*
*.dylib

# PostgreSQL
postgres_data/
